#wrap{width: 100%;}



.contentBx{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
}
.contentBx .text{
    margin-left: 150px;
    max-width: 800px;
}
.contentBx .text h2{
    font-size: 6em;
    color: #ffd500;
}
.contentBx .text p{
    font-size: 1.1em;
    color: #333;
    line-height: 1.8em;
}
.contentBx .text h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight:700 ;
}
.contentBx .text a{
    background: #ffd500;
    color: #fff;
    display: inline-flex;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 4.1em;
    margin:55px 20px 5px 0 ;
    border-radius: 5px;
}
.contentBx .text a:hover{
    background: #3b5998;
}
.Tv img{
    height: 900px;
    position:absolute;top: 160px; right: 5px;
}
.Tv_in{
    width:800px ;
}
.Tv_in img{
    position: relative;
    top: 5px;
    left: 402px;
    width: 165px;height:185px ;
    border-radius: 5px;
}
#contents{
    width: 100%;height: 1000px;
    background-color: rgb(39, 38, 85);
}

#site{
    width: 1300px;height: 200px;
    margin: 0 auto;
}
#site h2{
    font-size: 2em;
    padding-top: 30px;
    color: white;
}
#site .btn{
    background:#3b5998;
    display: inline-flex;
    padding: 5px 5px;
    margin:45px 20px 5px 0 ;
    border-radius: 5px;
}
#site img{
    width: 35px;height: 35px;
}
#site .btn:hover{
    background: #132337;
}
#site button{
    width: 35px; height: 35px;
}
#works{
    display: flex;
    width: 1300px;height: 820px;
    margin: 0 auto;
}
#works .work_img {
    margin: 0 auto;
}
#works .work_img img{
    margin-top: 30px;
    width: 250px;
}

#enter{
    font-size: 30px;
    margin: 0 auto;
    width: 1600px; height: 300px;
}
#enter >div{
    margin: 0 auto;
    margin-top: 55px;
    width: 100%; height: 200px;
    font-weight: bold;
}
#enter ul{
    margin: 0 auto;
}   
#enter li{
    float: left;
    width: 270px;height: 150px;
    background-color: rgb(33, 27, 19);
    border-radius: 15%;
    margin-left: 33px;
    margin-top: 35px;
}
#enter li img{
    width: 270px; height: 150px;
    border-radius: 15%;
}
#enter .enter1 li{
    border-bottom: 2px solid red;
}
#footer{
    float: left;
    width: 100%;height: 500px;
    background-color: rgb(29, 23, 16);
}
#footer .event{
    width: 100%;height: 150px;background-color:rgb(99, 63, 63);
}
#footer .event li{
    float: left;
    width: 340px;height: 100px;
    margin-left: 33px;  
    cursor: pointer;
    border-radius: 5%;
}
#footer .event h2{
    color: white;
}
#footer .event li img{
    width: 340px; height: 100px;
    border-radius: 5%;
}
#footer .footer_b{
    margin: 0 auto;
    width:1700px;height:350px;
    background-color: rgb(29, 23, 16);
}
#footer .f_t{
    width: 100%; height:70px;
    background-color: rgb(29, 23, 16);
}
#footer .f_t p{
    float: left;
    width: 600px;height: 70px;
    font-size: 17px;
    line-height: 70px;
    text-align: center;
    font-weight: 700;
    color: white;
}
#footer .f_t ul{
    width: 400px;height: 70px;
    float: right;
}
#footer .f_t ul li{
    float: left;
    line-height: 70px;
    margin-right: 15px;
    font-size: 17px;
}
#footer .f_t ul li:last-child{
    margin-right: 0px;
}
#footer .f_t ul li a{
    text-align: center;
    margin-left: 20px;
    color: white;
}

#footer .f_t2{
    margin: 0 auto;
    width: 1000px; height:70px;
}
#footer .f_t2 ul{
    margin-left: 60px;
}
#footer .f_t2 li{
    line-height: 70px;
    margin-right: 40px;
    float: left;
}
#footer .f_t2 a{
    color: white;
    font-size: 18px;
}

#footer .f_t3{
    margin-top: 30px;
    margin: 0 auto;
    width: 800px; height: 200px;
}
#footer .f_t3 ul{
    text-align: center;
    color: white;
}
#footer .f_c{
    margin-top: 70px;
}